@font-face {
  src:url(/Fontes/Roboto-Regular.ttf) format('woff2');
  src:url(/Fontes/Karla-VariableFont_wght.ttf) format('ttf');
}
:root{
  ---font-prncipal:'Roboto-Regular',  sans-serif;
  ---font-secundaria:'Karla-VariableFont',  sans-serif;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(---font-prncipal);
  font-weight: 500;
  font-size: 1.1em;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Animation Classes */
.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
/*Estilização do Header e Menu de navegação*/
.header{
  background: rgb(211, 167, 167);
  justify-items: flex-end;
  height: 17vh;
  font-family: var(---font-prncipal);
  font-weight: 700;
}
.headerImg{/*Logo no header*/
  width: 15vw;
  margin-top: 2vh;
}
.menu-toggle{
  display: none;
}
main{
  display: none;
}
.ul{
  display: flex; 
  
}
.li{
  padding-left: 2vw;
  list-style-type: none; 
  margin-top: 5vh;
}
.link{
  color: rgb(8, 8, 8);
  font-size: 1rem; 
  margin-top: -13vh;
  margin-left: -2vw;
  padding-left: 4vh;
  float: right;
  text-decoration: none;
}
.link:hover{
  list-style-type: none; 
  color: white;
  align-items: center;
  text-decoration: none;
}
.divNav{
 display: none;
}
.section{
  background-color:#e9c1c1;
  color: black;
}
.Telma{
  width: 70%;
  margin-left: 1vw;
  margin-top: 2vh;
  margin-bottom: 5vh;
  border-radius: 15vw;
  box-shadow: 0px 0px 15px 8px rgb(146, 148, 147);
}
.col2{
  width: 50vw;
  font-size: 1em;
  margin-left: -4vw;
}
.terapia{
  font-weight: 600;
  text-align: center;
  font-size: 1.5em;
  margin-top: 3vh;
}
.texto-terapia{
  font-size: 1em;
  text-indent: 40px;
  text-align: justify;
}
#TelmaPng{
  width: 40%;
  margin-top: -69.2%;
  margin-left: 49.8vw;
}
.button2{
  background-color:#036e2cf3;
  color: rgb(255, 254, 254);
  width: 27.4vw;
  height: 10vh;
  margin-left: 10vw;
  margin-bottom: 3vh;
  padding-bottom: 10vh;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: 5vw;
  box-shadow: 0px 0px 10px 5px white;
}
.button2:hover{
  box-shadow: 0px 0px 10px 10px white;
}
#whatsapp2{
  width: 10vh;
  margin-top: -4.5vh;
  margin-left: -4.5vw;
}
.section2{
  background-image: url(/Imagem/mar.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(7, 7, 7);
  font-family: var(---font-prncipal);
  font-weight: 900;
  margin-top: -10vh;
}
#row{
  width: 99vw;
}
.AVA{
  margin-top: 3vh;
  margin-left:7vw;
}
#video{
  background-color: rgba(0, 0, 0, 0.034);
  color: black;
  width: 100vw;
  margin-left: 2vw;
  margin-top: 5vh;
  margin-bottom: 2vh;
  border-radius: 5vh;
  box-shadow: 0px 0px 15px 2px rgb(0, 0, 5);
}
.iframe{
  width: 43vw;
  height: 70vh;
  margin-left: 2vw;
  margin-top: 20vh;
  border-radius: 1vw;
}
.palestras{
  margin-left: 2vw;
}
#explicação{
  background-color: rgba(0, 0, 0, 0.034);
  color: black;
  margin-left: 5vw;
  margin-top: 5vh;
  margin-bottom: 2vh;
  list-style-type: none;
  text-decoration: none;
  border-radius: 5vh;
  box-shadow: 0px 0px 15px 2px rgb(0, 0, 5);
}
.Atenção{
  background-color: rgb(248, 171, 4);
  color: rgb(8, 5, 5);
  margin-top: 3vh;
  margin-left: 0.8vw;
  margin-bottom: 5vh;
  text-align: center;
  border-radius: 2vh;
}
.box{
  background-color: rgb(110, 3, 3);
  color: white;
  width: 23vw;
  padding: 1.5vw;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5vh;
  border-radius: 3vw;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: all 2s ease-out;
  box-shadow: 0px 0px 15px 2px rgb(0, 0, 5);
}
.box{
  background-color: rgb(110, 3, 3);
  color: white;
  width: 23vw;
  padding: 1.5vw;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5vh;
  border-radius: 3vw;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: all 2s ease-out;
  box-shadow: 0px 0px 15px 2px rgb(0, 0, 5);
}

.box{
  background-color: rgb(110, 3, 3);
  color: white;
  width: 23vw;
  padding: 1.5vw;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5vh;
  border-radius: 3vw;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: all 2s ease-out;
  box-shadow: 0px 0px 15px 2px rgb(0, 0, 5);
}

.etapas{
  background-color: rgb(110, 3, 3);
  color: white;
  width: 23vw;
  padding: 1.5vw;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5vh;
  border-radius: 3vw;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: all 2s ease-out;
  box-shadow: 0px 0px 15px 2px rgb(0, 0, 5);
}
#row2{
  width: 100vw;
  background-color:#da8e8a;
}
.section3{
  background-color:#efc4c2;

}
#explicação2{
  color: black;
  margin-left: 1vw;
}
.ComoFunciona{
  margin-top: 2vh;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
}
.Passos{
   font-weight: 600;
   color: black;
}
li{
  list-style-type: none;
  text-decoration: none;
}
.n1{
  width: 4vw;
  margin-left: 17vw; 
  border-radius: 15vw;
  box-shadow: 0px 0px 10px 1px rgb(2, 32, 21);
}
.n2{
  width: 4vw;
  margin-left: 17vw;
  border-radius: 15vw;
  box-shadow: 0px 0px 10px 1px rgb(2, 32, 21);
}
.n3{
  width: 4vw;
  margin-left: 16.8vw;
  border-radius: 15vw;
  box-shadow: 0px 0px 10px 1px rgb(2, 32, 21);
}
.h51{
  font-size: 2em;
  font-weight: 700;
  margin-left: 8vw;
}
.h52{
  font-size: 2em;
  font-weight: 700;
  margin-left: 8vw;
}
.h53{
  font-size: 2em;
  font-weight: 700;
  margin-left: 8vw;
}
.paragrafos1{
  width: 19vw;
  font-weight: 600;
  text-align: center;
  margin-left: 9.5vw;
}
.paragrafos2{
  width: 19vw;
  font-weight: 600;
  text-align: center;
  margin-left: 9vw;
}
.paragrafos3{
  width: 20vw;
  font-weight: 600;
  text-align: center;
  margin-left: 9vw;
}
.vamos{
  width: 57%;
  color: black;
  font-weight: 900;
}
.vh1{
  margin-top: 2vh;
  font-weight: 700;
}
.vh5{
  font-weight: 600;
}
.vh2{
  margin-left: 9vw;
  margin-top: 15vh;
  margin-bottom: -15vh;
}
.button1{
  background-color:#036e2cf3;
  color: rgb(255, 254, 254);
  width: 27.4vw;
  height: 10vh;
  margin-left: 14vw;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: 5vw;
  box-shadow: 0px 0px 10px 5px white;
}
.button1:hover{
  box-shadow: 0px 0px 10px 10px white;
}
#whatsapp{
  width: 10vh;
  margin-top: -5vh;
  margin-left: -4.5vw;
}
.telmalogo{
  width: 27vw;
  margin-top: 50vh;
  margin-left: -25.8vw;
}
#row3{
  width: 100vh;
}
#palestras{
  background-color: #ecaba6;
  margin-bottom: -2.5vh;
  color: black;
}
.h2palestras{
  font-family: var(--animate-duration);
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-weight: 700;
  font-size: 2.5rem;
}
.topicos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2.5vh;
}
/*Estilização da div Palestras e seus elementos*/    
.palestrap{
  width: 50vw;
  background-color: rgb(243, 240, 240);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 450;
  padding: 1vw;
  border-radius: 2vw;
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;/*Efeito de transição suave
  margin-bottom: 2vh;*/
}
.palestrap:hover{
  box-shadow: 0px 0px 15px 5px rgb(224, 219, 219);
  transform: scale(1.05);/*Aumenta o tamanho ao passar o mouse*/
}
#section4{
  height: auto;
  background-color:#e0a9a9;
  color: black;
  padding-top: 1vh;
  padding-bottom: 4vh;
}
.Sobre-mim{
  width: 50vw;
  margin-left: 5vw;
  margin-bottom: 1vh;
  padding: 2vw;
}
.h2Sobre{
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2vh;
}
.pSobre{
  width: 60vw;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: justify;
  margin-left: 10vw;
  line-height: 1.6;
}
/*Estilização do Footer e seus elementos*/
#footer{
  background-color: #efc4c2; 
}
#LogoFooter{
  width: 15vw;
  margin-left: 2vw;
  margin-top: 5vh;
}
#direitos{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: 0.9em;
}
#linkfoter{
  text-decoration: none;
}
#colunafooter{
  text-align: center;
  margin-top: -15vh;
  text-decoration: none;
}
#imgIcon1{
  width: 2vw;
  padding-top: 2vh;
  margin-left: -5vw;
}
#imgIcon2{
  width: 2vw;
  padding-top: 2vh;
  margin-left: -5vw;
}
#imgIinsta3{
  width: 2vw;
  padding-top: 2vh;
  margin-left: -5vw;
}
.li1{
   margin-left: 25vw;
   padding-left: 3vw;
}
.li2{
   padding-left: 8vw;
}
.li3{
   padding-left: 8vw;
}
.link1{
  color: rgb(8, 8, 8);
  font-size: 1.1rem; 
  margin-top: -13vh;
  margin-left: -3.2vw;
  padding-left: 10vh;
  float: right;
  text-decoration: none;
}
.link1:hover{
  list-style-type: none; 
  align-items: center;
  text-align: center;
  border-radius: 4vh;
  text-decoration: none;
  
}
.ul1{
  font-weight: 500;
  display: flex; 
  margin-top: 15vh;
  margin-bottom: -5vh;
}
.box.show {
  opacity: 1;
  transform: translateY(0);
}

.animate__animated.animate__jackInTheBox {/*animação do logo do header*/
  --animate-duration: 3s;
}
